/* 以下のスタイルを適用してください：

*card用のdiv
widthは210px
1pxのgrey色のborder（border-styleはsolid）
5pxのborder-radius
テキストは中央揃え（center）

*画像
widthは200px
5pxの色が rgb(236, 183, 191) のborder（border-styleはsolid）
50%のborder-radius */

.card {
  width: 210px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
}

img {
  width: 200px;
  border: solid 5px rgb(236, 183, 191);
  border-radius: 50%;
}
