/* *CSSセレクター演習問題
CSSセレクターの実際に使っていきましょう！ index.html には変更を加えずに、以下の状態になるように app.css を完成させてください：

li 要素のテキストの色を青（blue）にする
doneのクラスをもっている要素のテキストの色を灰色（grey）にする
clearのIDをもつ要素には赤（red）の背景色と白（white）のテキストの色にする */

ul > li {
  color: blue;
}

.done {
  color: gray;
}

#clear {
  background-color: red;
  color: white;
}
